# pixi environments
.pixi/*
!.pixi/config.toml

# typesctipt
node_modules

# cache
__pycache__
.pytest_cache
.ruff_cache

# build artifacts
build
*.egg-info
*.conda

# other
sandbox.md
temp.sh
.DS_Store
